<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dw 丹尼尔惠灵顿手表官网</title>
    <link rel="stylesheet" href="__PUBLIC__/index/dw/css/public.css">
    <link rel="stylesheet" href="__PUBLIC__/index/dw/css/home.css">
</head>
<body>
    
    <div class="home public">
        <!-- 首页图片 -->
        <div class="home-img">
            <img src="__PUBLIC__/index/dw/img/5a093a63Nd46139f4.jpg" alt="">
        </div>
        <!-- 产品内容 -->
        <ul class="home-ul public">
            <li class="home-li">
                <a href="{:url('goods/watch_1')}">
                    <img src="__PUBLIC__/index/dw/img/5b615e9fN6e96f769.jpg" alt="">
                    <div class="home-div">
                        <p class="home-div-p">丹尼尔惠灵顿DW女表 玫金边白盘玫金网带</p>
                        <P class="home-jiage">￥268.00</P>
                    </div>
                </a>
            </li>
            <li class="home-li">
                <a href="{:url('goods/watch_2')}">
                    <img src="__PUBLIC__/index/dw/img/5b616cb3N874ca93e.jpg" alt="">
                    <div class="home-div">
                        <p class="home-div-p">丹尼尔惠灵顿DW女表 玫金边黑盘玫金网带</p>
                        <P class="home-jiage">￥268.00</P>
                    </div>
                </a>
            </li>
            <li class="home-li">
                <a href="{:url('goods/watch_3')}">
                    <img src="__PUBLIC__/index/dw/img/5b6165b5Nf8576705.jpg" alt="">
                    <div class="home-div">
                        <p class="home-div-p">丹尼尔惠灵顿DW女表 银色边白盘银色网带</p>
                        <P class="home-jiage">￥268.00</P>
                    </div>
                </a>
            </li>
            <li class="home-li">
                <a href="{:url('goods/watch_4')}">
                    <img src="__PUBLIC__/index/dw/img/5a154536N2567d5cc.jpg" alt="">
                    <div class="home-div">
                        <p class="home-div-p">丹尼尔惠灵顿DW女表 银色边黑盘玫金网带</p>
                        <P class="home-jiage">￥268.00</P>
                    </div>
                </a>
            </li>
            <li class="home-li">
                <a href="{:url('goods/watch_5')}">
                    <img src="__PUBLIC__/index/dw/img/5b6171dbN945252e3.jpg" alt="">
                    <div class="home-div">
                        <p class="home-div-p">丹尼尔惠灵顿DW 男表银色边白盘黑色皮带带日历</p>
                        <P class="home-jiage">￥268.00</P>
                    </div>
                </a>
            </li>
            <li class="home-li">
                <a href="{:url('goods/watch_6')}">
                    <img src="__PUBLIC__/index/dw/img/5b618417N66dbd260.jpg" alt="">
                    <div class="home-div">
                        <p class="home-div-p">丹尼尔惠灵顿DW 女表金色边白盘褐色皮带带日历</p>
                        <P class="home-jiage">￥268.00</P>
                    </div>
                </a>
            </li>
            
        </ul>
    </div>

</body>
</html>