 
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>iPhone 8 Plus 国行官方网</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=4.0">
<meta  content="telphone=no, email=no" name="format-detection">
<link rel="icon" href="__PUBLIC__/index/i6_files/ico.ico" type="image/x-icon"/>
 <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
 <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
 <meta name="HandheldFriendly" content="true">
 <!-- 微软的老式浏览器 -->
 <meta name="MobileOptimized" content="320">
 <!-- uc强制竖屏 -->
 <meta name="screen-orientation" content="portrait">
 <!-- QQ强制竖屏 -->
 <meta name="x5-orientation" content="portrait">
 <!-- UC应用模式 -->
 <meta name="browsermode" content="application">
 <!-- QQ应用模式 -->
 <meta name="x5-page-mode" content="app">
 <!-- windows phone 点击无高光 
 <meta name="msapplication-tap-highlight" content="no"> -->
 <!-- 适应移动端end -->
<link href="__PUBLIC__/index/i6_files/css(1).css" rel="stylesheet">
<script src="__PUBLIC__/index/i6_files/wfdq.js"></script>


<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/i6_files/636077437716960597.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/i6_files/636077437383301513.css">

</head>

 <style type="text/css">
  .my-sel {
   width: 90px;
   height: 26px;
  }
  img{
      border:none;
  }
  *,body{
    -webkit-overflow-scrolling: touch;
  }
 </style><div id="conter">
 <!--头部时间导航-->
 <body bgcolor="White">
 <div class="po-f">
  <ul class="head-time clearfix">
   <li class="jie">
    <div class="time-item">
     <div class="timeaxis-item">
      <div class="time-inner">
       <div class="time-date">6-26</div>
       <div class="time-info">
        已结束
       </div>
      </div>
     </div>
    </div> </li>
   <li class="jie">
    <div class="time-item">
     <div class="timeaxis-item">
      <div class="time-inner">
       <div class="time-date">7-26</div>
       <div class="time-info">
        已结束
       </div>
      </div>
     </div>
    </div> </li>
   <li>
    <div class="time-item">
     <div class="timeaxis-current">
      <div class="time-inner">
       <div class="time-date">888</div>
       <div class="time-info">
        正在进行
       </div>
      </div>
     </div>
    </div> </li>
   <li class="kai">
    <div class="time-item">
     <div class="timeaxis-item">
      <div class="time-inner">
       <div class="time-date">9-26</div>
       <div class="time-info">
        即将开始
       </div>
      </div>
     </div>
    </div> </li>
   <li class="kai">
    <div class="time-item">
     <div class="timeaxis-item">
      <div class="time-inner">
       <div class="time-date">10-26</div>
       <div class="time-info">
        即将开始
       </div>
      </div>
     </div>
    </div> </li>
  </ul>
 </div>
 <!--头部时间导航end-->
 <div class="banner">
  <img class="lazy" src="__PUBLIC__/index//i6_files/636077429157071000.jpg">
 </div>
 <!--倒计时-->
 <div class="time-bar">
  距本场结束
  <strong id="hour_show"><s id="h"></s>00时</strong>
  <strong id="minute_show"><s></s>00分</strong>
  <strong id="second_show" style="margin: 0;"><s></s>00秒</strong>
  <strong id="second_hao" style="font-size: .65rem;margin: 0;"><s></s>0</strong>
 </div>
 <!--倒计时end-->
 <!-- 抢购进度条 -->
 <div class="cp-list clearfix ">
  <ul class="clearfix ">
   <li class="clearfix ">
    <div class="pic-i">
     <img src="__PUBLIC__/index/i6_files/636077431527296569.jpg">
    </div>
    <div class="box-r">
     <h2>苹果iPhone 8 Plus <span class="fs">256G</span> </h2>
     <p class="panic-price">秒杀价¥899元<s style="color:#CCC; font-size:12px;">原价¥7199 </s></p>
     <div class="speed-box clearfix">

      <div class="progress" style="overflow: hidden;">
       <div class="progress-bar baid-ya"  role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 00%;">
           <span style="font-size: .75rem;color: #fff" class="yan">疯狂抢购中</span>
           <span style="font-size: .75rem;color: #fff; float: right;" class="baid yan"></span>
       </div>
      </div>
     </div>
     <!--<div style="text-align:center">
      <a href="javascript:reLink();" title="" style="color:white;"><div class="afterState-right">立即抢购</div></a>
<span style="font-size: 12px;color: #3AAB00;">（加销售代表微信:<span style="color:blue;">2875033626</span>抢购）</span>
     </div>-->
    </div> </li>
  
  </ul>
 </div>
 <!-- 抢购进度条end -->
 <!--滚动-->
 <div class="auto-box-roll">
  <div class="roll">
   <div id="wffahuo">
    <div id="wffahuo1">
     <ul>
     {volist name="shouji" id="ov"}
      <li><span>{$ov['tel']}</span><span>{$ov['name']}</span><span>抢购成功</span></li>
      {/volist}
     </ul>
    </div>
    <div id="wffahuo2">
     <ul>
      <li><span>159****3681</span><span>崔先生</span><span>抢购成功</span></li>
      <li><span>135****8532</span><span>良先生</span><span>抢购成功</span></li>
      <li><span>134****3674</span><span>刘小姐</span><span>抢购成功</span></li>
      <li><span>159****3681</span><span>张先生</span><span>抢购成功</span></li>
      <li><span>138****8622</span><span>郭先生</span><span>抢购成功</span></li>
      <li><span>189****6532</span><span>陈小姐</span><span>抢购成功</span></li>
      <li><span>134****7300</span><span>梁小姐</span><span>抢购成功</span></li>
      <li><span>137****1129</span><span>何先生</span><span>抢购成功</span></li>
      <li><span>150****6803</span><span>孔先生</span><span>抢购成功</span></li>
      <li><span>159****3681</span><span>蔡先生</span><span>抢购成功</span></li>
      <li><span>135****8532</span><span>覃先生</span><span>抢购成功</span></li>
      <li><span>134****3674</span><span>赖小姐</span><span>抢购成功</span></li>
      <li><span>159****3681</span><span>罗先生</span><span>抢购成功</span></li>
      <li><span>138****8622</span><span>张先生</span><span>抢购成功</span></li>
      <li><span>189****6532</span><span>黄小姐</span><span>抢购成功</span></li>
      <li><span>134****7300</span><span>王先生</span><span>抢购成功</span></li>
      <li><span>137****1129</span><span>刘先生</span><span>抢购成功</span></li>
      <li><span>150****6803</span><span>梁先生</span><span>抢购成功</span></li>
      <li><span>159****3681</span><span>凌小姐</span><span>抢购成功</span></li>
      <li><span>135****8532</span><span>秦先生</span><span>抢购成功</span></li>
      <li><span>134****3674</span><span>马先生</span><span>抢购成功</span></li>
      <li><span>159****3681</span><span>吕小姐</span><span>抢购成功</span></li>
      <li><span>138****8622</span><span>林先生</span><span>抢购成功</span></li>
     </ul>
    </div>
   </div>
  </div>
 </div>
 <!--滚动end-->
 <!-- 产品介绍 -->
 <div class="bd">
  <div class="cp-buy01 clearfix">
   <img src="__PUBLIC__/index/i6_files/636077429829319450.jpg" alt="">
   <p>黑色，低调稳重 经典永恒</p>
   <p>iPhone 8 Plus 256G <span class="red-text">899元</span><s style="color:#CCC; font-size:12px;">原价¥7199 </s></p>
   <div class="buyBtn2">
    <a href="javascript:reLink();" title="">立即抢购 </a>
   </div>
   <!--<div style="font-size: 12px;color: #3AAB00; overflow:hidden;text-align: center;">（加销售代表微信<span style="color: blue;">2875033626</span>抢购）</div>-->
  </div>
  <div class="cp-contrast">
   <h2>iPhone 8 Plus完美展现</h2>
  </div>
  <ul class="ul1 cp_content">
   <li> <p> <img class="lazy" src="__PUBLIC__/index//i6_files/1-1.png"> </p> </li>
   <li> <img class="lazy" src="__PUBLIC__/index//i6_files/2-2.jpg"> </li>
   <li> <img class="lazy" src="__PUBLIC__/index//i6_files/3-3.jpg"> </li>
   <li class="cp-buy01  clearfix"> <img src="__PUBLIC__/index/i6_files/636077431527296569.jpg" alt=""> <p>金色，土豪专用 必须高大上</p><p>iPhone 8 Plus 256G <span class="red-text">899元</span><s style="color:#CCC; font-size:12px;"> 原价¥7199 </s></p>
    <div class="buyBtn2">
     <a href="javascript:reLink();" title="">立即抢购 </a>
    </div>
    <!--<div style="font-size: 12px;color: #3AAB00; overflow:hidden;text-align: center;">（加销售代表微信<span style="color: blue;">2875033626</span>抢购）</div>--></li>
   <li> <img class="lazy" src="__PUBLIC__/index//i6_files/4-4.jpg"> </li>
   <li> <img class="lazy" src="__PUBLIC__/index//i6_files/5-5.jpg"> </li>
   <li class="cp-buy01 clearfix"> <img src="__PUBLIC__/index/i6_files/636077429540092907.jpg" alt=""> <p>红色，鲜艳红润 热情活泼</p> <p>iPhone 8 Plus 256G <span class="red-text">899元</span><s style="color:#CCC; font-size:12px;">原价¥7199 </s></p>
    <div class="buyBtn2">
     <a href="javascript:reLink();" title="">立即抢购 </a>
    </div>
    <!--<div style="font-size: 12px;color: #3AAB00; overflow:hidden;text-align: center;">（加销售代表微信<span style="color: blue;">2875033626</span>抢购）</div>--></li>
   <li class="cp_box0"> <p> <img class="lazy" src="__PUBLIC__/index//i6_files/6-6.jpg"> </p> </li>
   <li><img class="lazy" src="__PUBLIC__/index//i6_files/7-7.jpg"> </li>
   <li class="cp-buy01 clearfix"> <img src="__PUBLIC__/index/i6_files/636077432892194637.jpg" alt=""> <p>银色，清新简约 时尚新主义</p> <p>iPhone 8 Plus 256G <span class="red-text">899元</span><s style="color:#CCC; font-size:12px;">原价¥7199 </s></p>
    <div class="buyBtn2">
     <a href="javascript:reLink();" title="">立即抢购 </a>
    </div>
   <!-- <div style="font-size: 12px;color: #3AAB00; overflow:hidden;text-align: center;">（加销售代表微信<span style="color: blue;">2875033626</span>抢购）</div>--></li>
  </ul>
  <div class="cp-contrast clearfix">
   <h2>产品详细.参数</h2>
   <ul class="cp-parameter clearfix">
    <li class="cp-img "> <img class="lazy" src="__PUBLIC__/index/i6_files/8.png"> </li>
    <li class="cp-text"> <h3>属性参数</h3> <p>机型：iPhone 8 Plus</p> <p>颜色：银灰、黑色、金色、红色</p> <p>尺寸：5.5英寸</p> <p>内存：256G</p> <p>电池：1821mAh</p> <p>分辨率：1920*1080</p> <p style="border:0px;">摄像头：<br>前摄像头700万<br>后摄像头双1200万</p> </li>
   </ul>
   <ul class="ul2 param">
    <li> <p class="fl">官方配件：</p>
     <div class="auto-box" style="width:100%;">
      <img src="__PUBLIC__/index/i6_files/001.png" alt="">
      <div class="cl"></div>
      
     </div>
     </li>
   </ul>
  </div>
 </div>
 <!-- 产品介绍end -->
 <!-- 订购板块 -->
 <div id="big-counter">
  <div class="gxnimg">
   <img src="__PUBLIC__/index/i6_files/636077434087883026.png">
  </div>
  <h6>获得一次秒杀机会</h6>
  <div class="changebiaoti6" style="padding: 10px 0 5px 0;">
            <div style="width: 160px; margin: auto; text-align: center; padding: 5px; background-color: #ff194f; color: #FFF; font-size: 18px; position: relative; z-index: 2;">客户须知</div>
            <div style="border: 2px solid #f70; margin: -20px 5px 10px 5px; padding: 20px 5px 5px 5px; background-color: #fff; position: relative; z-index: 1; text-align: left;">
                1：因售价比较低，考虑到成本及利润原因，现每天只提供89台少量现货低价抢购预约<br>
                2：为杜绝黄牛党,1个手机号仅限购1台（可通过页面订购提交订单，地址及姓名不详不予发货，请完善填写信息），预约成功者24小时内会有客服主动与您取得联系，请保持手机畅通。
                <br>
                3：商城支持【货到付款】【15天退换货】。
                <br>
                4：商城推广期，为提高知名度，已是零利润特惠直销，不再接受任何与其它商城比价／议价。
            </div>
            <a name="pinjia"></a>
        </div>
  <div class="mc">
   <p class="col">名称：国行苹果iPhone 8 Plus</p>
   <p>标配：原装充电器(电池内置)、耳机、数据线</p>
  </div>
  <div class="xiadan">
  <form method="post" action="{:url('goods/order')}" class="registerform" >


   <h4>请选择手机版本：</h4>

    <div id="info_box">
     <div class="qingdan" id="smaller_one">
      <p class="check_active l_check">
        <label>
         <input type="radio" name="style" value="金色" checked="" class="checked">
         苹果iPhone 8 Plus- <span>256G</span> 金色 899.00元
        </label>
       </p><p class=" l_check">
        <label>
         <input type="radio" name="style" value="银色" class="">
         苹果iPhone 8 Plus- <span>256G</span> 银色 899.00元
        </label>
       </p> 
       <p class=" l_check">
        <label>
         <input type="radio" name="style" value="黑色" class="">
         苹果iPhone 8 Plus- <span>256G</span> 黑色 899.00元
        </label>
       </p>     
       <p class=" l_check">
            <label>
                <input type="radio" name="style" value="红色" class="">
                苹果iPhone 8 Plus- <span>256G</span> 红色 899.00元
            </label>
       </p>
    </div>
    </div>
    <div class="xinxi">
     <h5>请填写收件人信息：</h5>
     <div class="customer_info">
      <p>
       <span>*</span>  姓   名:<br>
       <input type="text" name="username"  value="" class="p_text" placeholder="请填写收货人姓名" datatype='*' nullmsg='收货人姓名不能留空！'>
      </p>
      <p>
       <span>*</span>  手机号:<br>
       <input type="text" class="p_text" name='tel' maxlength="11" placeholder="请填写您的手机号" datatype='m' nullmsg='手机不能留空！' errormsg='手机号码格式错误！'>
      </p>
      <p class="o-d-list">
      <select name="wfprovince" class="wfprovince" datatype="*" errormsg="请选择省份！"></select>
      <select name="wfcity" class="wfcity" datatype="*" errormsg="请选择市！"></select>
      <select name="wfarea" class="wfarea" ></select>
      </p>
      <p>
       <span>*</span>  地   址:<br>
      </p>
      <p>
       <textarea class="addr_info"  name='address' width='35'  class='order-addr' placeholder="请输入详细收货地址精确到门牌号" datatype='*' nullmsg='详细收货地址不能留空！'></textarea>
      </p>
      <p><span class="cred" id="errInfo-details"></span></p>
      <p>
       <input type="submit" class="submit_btn" value="点击提交订单" name="Submit"> </p>
      <p><span class="cred" id="errInfo"></span></p>
     </div>
    </div>
  </div>

  <input name="id" type="hidden" value="69" style="width:0px">
  <input name="name" type="hidden" value="苹果iPhone 8 Plus 256G" style="width:0px">
  <input name="number" type="hidden" value="1" style="width:0px">
  <input name="addr" type="hidden" value="1" style="width:0px">


  <input name="fromurl" id="fromurl" type="hidden" />
  <input id="fromdomain" type="hidden" name="fromdomain" />
  <input type='hidden' name='pay' checked='checked' value='7' class='pro' />
  </form>
  <script>
var myurl=top.location.href;
document.getElementById("fromurl").value=myurl;
var ref = '';
 if (document.referrer.length > 0) {
  ref = document.referrer;
 }
 try {
  if (ref.length == 0 && opener.location.href.length > 0) {
   ref = opener.location.href;
  }
 } catch (e) {}
document.getElementById("fromdomain").value=ref;
new PCAS("wfprovince","wfcity","wfarea");
</script>

 </div>
 <!--订购板块 end-->
</div>
<!--尾部 -->
<div id="footer">
 <p class="last">官方授权，正品保证，放心购买！</p>
 <p>Copyright © 2016 Apple Inc. 保留所有权利。</p>
</div>

<style>
    .goumai{
        width: 100%;
        background: #a93939;
        position: fixed;
        bottom: 0;
        height: 3.125rem;
        color: #fff;
        text-align: center;
        line-height: 3.125rem;
        font-size: 1rem;
        font-weight: bold;
        z-index: 99999;
        display: block;
    }

</style>

<a href="javascript:reLink();" class="goumai">
    立即购买
</a>


<script type="text/javascript" src="__PUBLIC__/index//i6_files/636077438613101854.js"></script>
<script type="text/javascript" src="__PUBLIC__/index//i6_files/636077438268072119.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>

<script type="text/javascript" src="__PUBLIC__/index//i6_files/js.js"></script>

</body></html>