

<!DOCTYPE HTML>
<html>
<head><title>
	官方正品
</title><link rel="stylesheet" href="__PUBLIC__/index/network/css/188reset.css">
<link rel="stylesheet" href="__PUBLIC__/index/network/css/188dp5.css">
<link rel="stylesheet" href="__PUBLIC__/index/network/css/188dp2.swiper.min.css">
<script type="text/javascript" src="__PUBLIC__/index/network/js/188jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body >
<form name="Form1" method="post" action="" id="Form1">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTE1MjI0MTQyM2RkaLpQkvl5kjfm36tI3AxkATFXVqU=" />

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="9AA6CB1C" /><input type= "hidden" name= "__EVENTTARGET" value= ""> 
<input type= "hidden" name= "__EVENTARGUMENT" value= ""> 

<div>
	<!--顶部-->
<div class="header">
   
    <div class="header-center"><span class="headerTitle"></span></div>

</div>
<!--主图-->
<div class="banner">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper"></div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <!-- Swiper JS -->
    <script src="__PUBLIC__/index/network/js/188swiper.min.js"></script>
</div>

<div class="proTitle"><span class="label">官方正品</span><span class="productTitle"></span></div>
<div class="proPrice"><span class="discount">折</span><span class="rmb">￥</span><span class="price"></span><span class="priceXs">.00</span><span class="oldPriceCont">￥<span class="oldPrice"></span>.00</span></div>
<div class="actTips"><strong>【全国包邮，货到付款】</strong><span class="actMes"></span></div>
<div class="actContent">
    <div class="buyNums"><span class="buyNumber">0</span>人已抢购</div>
    <div class="percent-part">
        <strong class="percent-title">已抢购<span id="percentNum">0</span>%</strong>
        <div class="percent-bar">
                <span class="pro-bg">
                    <span class="percentFill"></span>
                </span>
        </div>
    </div>
</div>
<!--商品信息-->
<input type="hidden" name="productInfor" pId="12877" title="全网通4G手机 双卡双待手机" price="899" discount="9">
<input type="hidden" name="productSku" sku1="颜色,金色,蓝色,黑色">
<!--活动描述-->
<input type="hidden" name="actMes" value="4G全网通，国行正品，质量保证">
<!--抢购数量、百分比-->
<input type="hidden" name="buyNums" value="2563,84">

<input name="id" type="hidden" value="70" style="width:0px">
<input name="name" type="hidden" value="全网通4G手机 双卡双待手机" style="width:0px">
<input name="style" type="hidden" value="金色" style="width:0px">
<input name="number" type="hidden" value="1" style="width:0px">

<script>
    //主图
    var mainImgs = [
'http://pic.166816788.com/Content/pic/10000000/188sj2/636641366896900000.jpg'
    ];
    //款式图
    var smallImgs = [
'http://pic.166816788.com/Content/pic/10000000/188sj2/1.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/2.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/3.jpg'
    ];
    //详情图
    var detailImgs = [
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_01.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_02.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_03.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_04.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_05.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_06.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_07.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_08.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_09.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_10.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_11.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_12.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_13.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_14.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_15.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_16.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_17.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_18.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_19.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_20.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_21.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_22.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_23.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_24.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_25.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_26.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_27.jpg',
'http://pic.166816788.com/Content/pic/10000000/188sj2/a_28.jpg'
    ];
</script>
<input type="hidden" name="childIDTotalNum" value="1">
<input type="hidden" name="childID00" value="">
<div class="proSelect">
    <div class="proSelecthead">
        <div class="selectTit">款式选择</div>
        <div class="countTimeWap">
            <!--倒计时-->
            <input type="hidden" name="countTime" value="1799">
            <div class="countTimeCont">距活动结束：<span id="day">00</span>:<span id="hour">00</span>:<span id="minute">00</span>:<span id="second">00</span>:<span id="second_hao">00</span></div>
        </div>
    </div>
    <div class="proSelectShow clearfix">
        <div class="proSelectImg">
            <img class="selectImg" src="">
        </div>
        <div class="proSelectInfor">
            <div class="proSelectTit"></div>
            <div class="proSelectPrice">￥<strong class="selectPrice"></strong><span class="selectLabel">促销优惠</span></div>
            <div class="selectSku"><span class="skuhead">已选</span><span class="skuItem1"></span><span class="skuGap"></span><span class="skuItem2"></span></div>
        </div>
    </div>
    <div class="skuList">
        <div class="skuList1 clearfix">
            <span class="skuListMsg skuMsg1"></span>
            <div class="skuListItem"></div>
        </div>
        <div class="skuList2 clearfix">
            <span class="skuListMsg skuMsg2"></span>
            <div class="skuListItem"></div>
        </div>
    </div>
    <div class="orderContent">
        <div class="orderList">
            <span class="orderListTit">姓名</span>
            <div class="orderListItem"><input type="text" name="username"></div>
        </div>
        <div class="orderList">
            <span class="orderListTit">手机号</span>
            <div class="orderListItem"><input type="tel" name="tel"></div>
        </div>
        <div class="orderList">
            <span class="orderListTit">详细地址</span>
            <div class="orderListItem"><textarea rows="3" name="addr" ></textarea></div>
        </div>
        <div class="orderList">
            <span class="orderListTit">付款方式</span>
            <div class="orderListItem clearfix">
                <div class="payWayItem select"><span class="payWay hdfk"></span><input type="hidden" name="pay" value="0" checked>货到付款</div>
            </div>
        </div>
        <div class="btnContent">
            <input type="hidden" name="opost" value="1">
            <a href="javascript:;" id="btn">提交订单</a>
        </div>
    </div>
</div>
<!--详情图-->
<div class="detailImg">
    <div class="datailImgTitle">商品详情<span>Details Show</span></div>
    <div class="imgList clearfix"></div>
</div>
<!--bottom-->
<div class="bottomInfor">
    <div class="copyright">
        <div>Copyright &copy; 2018 All RIGHTS RESERVED</div>
        <div>全国包邮，验货付款</div>
    </div>
</div>
<div class="bottomGap clearfix"></div>
<div class="bottomFix">
    <div class="fixContent">
        <span id="goTop"></span>
        <a href="javascript:;" class="btnBottom">填写订单</a>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/index/network/js/188dp11.js"></script>

</div></form>
</body>
</html>
