<!DOCTYPE HTML>
<html>
<head><title>
	 欧式尊贵经典条钉刻度真皮腕表
</title><link href="http://res.zomvip.com/Css/cart0325.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="http://res.zomvip.com/js/jquery.min.js"></script>
<script src="http://res.zomvip.com/js/cart51.js" ></script>
<meta name="keywords" content="多品牌，轻时尚,高性价比！准时抢、名品团，民族自创品牌,微创意,明星品牌" />
<meta name="description" content="B2C购物平台,以“准时抢”、“名品团”为主的商城即时活动,吸引了每天超过100万的在线活跃用户。秉持着“多品牌，轻时尚、高性价比”的理念，100%正品、15天无理由退货、30天保修、货到付款。" />
<link href="http://res.zomvip.com/Css/comTopAndBottom.css" type="text/css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body >
<form name="Form1" method="post" action="#" id="Form1">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTkyODUzMjQ4Mg9kFgICAw8WAh4GYWN0aW9uBRIvdXNlci9vcmRlcl9ULmFzcHhkZD3JoSI2Rq80ozBLIsJ04vOGduCb" />

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="A6A9F3A2" /><input type= "hidden" name= "__EVENTTARGET" value= ""> 
<input type= "hidden" name= "__EVENTARGUMENT" value= ""> 

<div class="wap"><!--总wap开始--> 
<input type= "hidden" name ="cartInfo" value ="5,1034">
<input type= "hidden" name ="enterType" value ="1">
<input type= "hidden" name ="isReg" value ="0">


<div id="Panel_TOP">
	
    	<!--顶部导航--> 
        <div class="header"> 
            <div class="head_left fl"> 
                <a href="javascript:history.go(-1);"><span class="icon_return"></span></a> 
            </div> 
            <div class="head_middle">购物车</div> 
            <!-- <div class="head_right fr"> 
                <a href="/proc.aspx?pageid=index"><span class="icon_index"></span></a> 
            </div>  -->
        </div> 
        <!--顶部导航end--> 


</div>
<div id="Panel_orderlist">
	
            <!--信息展示--> 
		<div class="goods-info"> 
 

  			<!--商品展示列表--> 
            <div class="cart_list"> 
                <!--列表头部--> 
                <h4 class="order_zcmp"><span>发货支持货到付款</span></h4><!--列表头部end--> 

                <!--列表内容--> 
                <div class="cart_wrap">  


                	<!--商品1-->  
                	<div class="product">  
                          <div class="cart-content clearfix">  

                              <a href="#" class="list-img"><img src="http://pic2.zomvip.com/Content/article/101\521\9446\F_01.jpg" /></a>  
                              <div class="list-info">  
                                  <a href="#">  
                                      <p class="cart_name">欧式尊贵经典条钉刻度真皮腕表</p>  
                                      <p class="cart_cr">银色黑带</p>  
                                  </a>  
                                  <div class="amount-c">  
                                      <a href="javascript:;" class="sub">-</a>  
                                      <span class="amount" style="3efe37bee091566e6aa3" obj="allobj" id="9446">1</span>  
                                      <a href="javascript:;" class="add">+</a>  
                                  </div>  
                              </div>  
                              <div class="list-p">  
                                  <span class="now-price">¥268</span>  
                                  <span class="old-price">¥2680</span>  
                              </div>  
                              <!--删除-->  
                              

                          </div>  
                    </div><!--商品1end-->  

                </div><!--列表内容end-->  

            	<!--计算优惠-->  
            	<div class="order-state clearfix">  
                	<p class="fl postage">本单已免运费</p>  
                	<p class="fr count">  
                    	<span class="operation">  
                        <span class="totalM sumpay">¥268</span> - <span class="favor">¥0</span> =  
                        </span><span class="allprice sumpay">¥268</span></p>  
            	</div><!--计算优惠end-->    

        	</div><!--商品展示列表end-->     

<div class="gap-b"></div><!--未选优惠券--><div class="coupon-wrap"><div class="coupon-content"><a href="#" id="choose-coupon">注册会员即刻领取<span class="c-i-price">100元</span>优惠券</a></div></div>
<div class="gap-b"></div>  
<input type="hidden" name="user_userInfo" value="">
        	<!--订购信息-->  
<div class="order">  
                <!--支付方式-->  
                <div class="order-wrap">  
                <h4 class="order_zcmp"><span><div class="icon-d"></div>收货信息</span></h4>   
                    <div class="pattern_wrap">  
<div class="order-infor bor-b"><span class="icon-left2"></span>收货人<input type="text" class="order-name" name="orderName" maxlength="20" placeholder="请填写中文姓名" emptmsg="请输入收货人姓名" errormsg="请填写1-16位中文姓名" value=""></div>                        <div class="order-infor bor-b"><span class="icon-left3"></span>联系电话<input type="tel" class="paytel" name="mobile" placeholder="请填写你的手机号"  value="" maxlength="11" emptmsg="手机号码不能为空" errormsg="手机号码格式错误"></div>  
<div class="order-infor bor-b"><div class="addr-block"><span class="icon-left4"></span>收货地址</div><textarea name="orderAddress" id="address" rows="4" class="order-addr" placeholder="请输入省市县等详细收货地址" emptmsg="请输入详细收货地址"></textarea></div>                    </div>  
                </div><!--支付方式end-->  
            </div><!--订购信息end-->  
            <div class="gap-b"></div>  
            <!--支付方式--> 
            <input type= "hidden" name ="onlinediscount" value ="50">
            <div class="payway-part"> 
              <div class="pay-title"><span>支付方式</span></div> 
              <div class="payway-content"> 
                  <label> 
                     <input type="radio" name="pay" id="payReceive" value="0" checked="checked"> 
                            <div class="pay-item"><span class="p-icon payhdfk"></span>验货付款</div>  
                  </label> 
                  <!-- <label>  
                      <input type="radio" name="pay" id="payWeiXin" value="6"> 
                           <div class="pay-item"><span class="p-icon paywx"></span>微信支付<span class="onlineDisc">立减50元</span></div>  
                  </label> 
                  <label>  
                      <input type="radio" name="pay" id="payCard" value="2"> 
                            <div class="pay-item"><span class="p-icon payzfb"></span>支付宝支付<span class="onlineDisc">立减50元</span></div> 
                  </label> 
                  <label>  
                      <input type="radio" name="pay" id="payAlipay" value="3"> 
                           <div class="pay-item"><span class="p-icon paycard"></span>银行卡快捷支付<span class="onlineDisc">立减50元</span></div>  
                  </label>  -->
              </div> 
             </div> 

    		<!--间隔-->  
    		<div class="gap-b"></div>  
    		<!--汇总信息-->  
            <div class="total-infor">  
                <p class="cart-total"><span class="ct-h">商品总金额：</span><span class="ct-i totalM">¥268</span></p>  
                <p class="cart-total"><span class="ct-h">运费：</span><span class="ct-i freight">¥0</span></p>  
                 <p class="cart-total"><span class="ct-h">优惠券：</span><span class="ct-i coupon">¥0</span></p>                <p class="cart-total"><span class="ct-h">为您节省：</span><span class="ct-i save">¥2680</span></p>  
                <p class="cart-total"><span class="ct-h">订单应付金额：</span><span class="ct-i allpay sumpay">¥268</span></p>     
            </div><!--汇总信息end-->  

    		<!--提交按钮--> 
            <div class="bot-bar"> 
                <div class="bot-brand"> 
                    <a href="javascript:;" class="btn"> 
                        提交订单 
                    </a> 
                </div>	 
            </div><!--提交按钮end--> 

    	</div><!--信息展示end--> </div>


</div>
<div id="Panel_Bottom">
	
    
</div>
</div><!--总wap结束--> 
</form>    

<script>
    (function(){
        $amount = $('.amount'); //数量
        $Price = 268;
        $symbol = '￥';

        //添加
        $('.add').click(function(){
            $yes = $amount.html();
            $ge = (Number($yes)+1)*$Price;
            $('.sumpay').html($symbol+$ge);
        });
        //减
        $('.sub').click(function(){
            $yes = $amount.html();
            if($yes>1){
                $ge = Number($yes-1)*$Price;
                $('.sumpay').html($symbol+$ge);
            }
        });
        $('.btn').click(function(){
            if($('input[name=orderName]').val().length > 16 || $('input[name=orderName]').val().length < 1){
                alert('请填写1-16位中文姓名');
                return false;
            }
            var pattern = /^1[34578]\d{9}$/; 
            if(!pattern.test($('input[name=mobile]').val())){
                alert('手机号码格式错误');
                return false;
            }
            if($('textarea[name=orderAddress]').val() == ''){
                alert('添加详情地址');
                return false;
            }
            alert('提交成功');
            window.location.href='/index/goods/watch_chang.html';
        });
    })();
</script>

</body>
</html>