<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>丹尼尔惠灵顿DW女表 银色边白盘银色网带</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="__PUBLIC__/index/dw/js/jquery.js"></script>

  <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="__PUBLIC__/index/dw/css/swiper.min.css">
    <link rel="stylesheet" href="__PUBLIC__/index/dw/css/public.css">
    <link rel="stylesheet" href="__PUBLIC__/index/dw/css/index.css">
    <script src="__PUBLIC__/index/i6_files/wfdq.js"></script>
    
  <!-- Demo styles -->

</head>
<body>
  <div class="index-header">
    <a href="javascript:history.go:history.go(-1);" class="index-tui">后退</a>
    <span class="index-middle">银色边白盘银色网带</span>
    <a href="{:url('goods/DW_home')}" class="index-home">首页</a>
  </div>
    <div class="index public">
        <!-- 轮播图 -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <img class="swiper-slide" src="__PUBLIC__/index/dw/img/02_1.jpg" alt="">
            <img class="swiper-slide" src="__PUBLIC__/index/dw/img/02_2.jpg" alt="">
            <img class="swiper-slide" src="__PUBLIC__/index/dw/img/02_3.jpg" alt="">
            <img class="swiper-slide" src="__PUBLIC__/index/dw/img/02_4.jpg" alt="">
            
          </div>
          <!-- 轮动 -->
          <div class="swiper-pagination"></div>
        </div>

        <!-- 秒杀价 -->
        <div class="index-miao">
          距本场结束<span class="shi">00时</span><span class="fen">00分</span><span class="miao">00秒</span><span class="index-miao-hao">0</span>
        </div>

        <!-- 名称 -->
        <div class="index-name">
            <span class="index-name-vice">官方正品</span>
            <span class="index-name-title">丹尼尔惠灵顿DW女表 银色边白盘银色网带</span>
        </div>  

        <!-- 金额 -->
        <div class="index-name">
            <span class=""></span>
            <span class="index-name-xian">秒杀价:<span class="index-name-ren">￥</span>268<span class="index-name-ren">.00</span></span>
            <span class="index-name-yuan">原价:￥1450.00</span>
        </div>

        <div class="index-name index-yes">
          <strong>【全国包邮，货到付款】</strong>
          正品品质，假一赔十，柜台验证,香港代购
        </div>

        <div class="index-name index-yes">
          <span><span class="index-yesx">00</span>人已抢购</span>

          <span class="index-right-jindutiao">
            <span class="index-right-jindutiao-bak">
              疯狂抢购中
              <span class="index-right-jindutiao-bak-left">80%</span>
               
            </span>
          </span>
          <span class="index-right">
            已抢购
          </span>
        </div>

        <!-- 赠品 -->
        <div class="index-name index-yes">
          <span>随品：</span>
          <span>
            说明一件、表带插针一个、礼物盒一个、证书一件、小票一件
          </span>
        </div>

        <!-- 轮播图 -->
        <div class="index-name index-yes">
          <div id="scrollBox">
              <ul id="con1">
                {volist name="shouji" id="ov"}
                <li><span>{$ov['tel']} </span><span>{$ov['name']} </span><span>抢购成功</span></li>
                {/volist}
              </ul>
              <ul id="con2"></ul>
          </div>
        </div>

        <!-- 选择款式 -->
        <div class="index-name index-yes index-kuan" id="kuai">
            选择款式:
        </div>
        <!-- 款式信息 -->
        <div class="index-name index-yes index-imgx">
          <img src="__PUBLIC__/index/dw/img/02_1.jpg" alt="" class="index-img">
          <div class="index-imgx-text">
            <p>丹尼尔惠灵顿DW女表 银色边白盘银色网带</p>
            <p class="index-imgx-text-red">秒杀价:￥268.00 促销优惠</p>
            <p class="index-imgx-p">
              <span class="index-imgx-px">已选</span> <span class="index-imgx-ma">26</span>mm
            </p>
          </div>
        </div>

        <!-- 尺寸 -->
        <div class="index-name index-yes">
            尺寸 :
            <span class="index-cicun index-cicun-red">26</span>
            <span class="index-cicun">28</span>
            <span class="index-cicun">30</span>
            <span class="index-cicun">32</span>
        </div>
        <form>
        <!--用户信息填写 -->
        <div class="index-name index-yes public">
          <div class="index-user">
            <span>用户姓名</span>
            <input type="text" name="username" id="">
          </div>
          <div class="index-user">
            <span>手机号</span>
            <input type="text" name="tel" id="">
          </div>
          <div class="index-user o-d-list public">
              <span>选择地址</span>
              <div class="o-index">
                <select name="wfprovince" class="wfprovince" datatype="*" errormsg="请选择省份！"></select>
                <select name="wfcity" class="wfcity" datatype="*" errormsg="请选择市！"></select>
                <select name="wfarea" class="wfarea" ></select>
              </div>
            </div>
            <div class="index-user index-textarea">
              <span>详情地址</span>
              <textarea name="addr_info" class="addr_info" id="" style=""></textarea>
            </div>
            <input type="hidden" name="id" value="76">
            <input name="name" type="hidden" value="DW手表 玫金边白盘玫金表带" style="width:0px">
            <input type="hidden" name="style" value="26">
            <input type="hidden" name="number" value="1">
            <input name="fromurl" id="fromurl" type="hidden" />
            <input id="fromdomain" type="hidden" name="fromdomain" />
            <input  type="hidden" name="addr" value="" />
            <div class="index-submit">提交订单</div>
        </form>
        </div>
        <!-- 商品详情 -->
        <div class="index-name index-yes index-kuan">
            商品详情:
        </div>
        <div class="index-name index-yes index-goods public">
          <img src="__PUBLIC__/index/dw/img/003.jpg" alt="">
          <img src="__PUBLIC__/index/dw/img/004.jpg" alt="">
          <img src="__PUBLIC__/index/dw/img/005.jpg" alt="">
          <img src="__PUBLIC__/index/dw/img/07.jpg" alt="">
          <img src="__PUBLIC__/index/dw/img/008.jpg" alt="">
        </div>

        <!-- 空出 -->
        <div class="index-ko"></div>

        <!-- 抢购 -->
        <a class="index-buy" href="#kuai">立即抢购</a>
    </div>

  <!-- Swiper JS -->
  <script src="__PUBLIC__/index/dw/js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script src="__PUBLIC__/index/dw/js/index.js"></script>
</body>
</html>
