<!DOCTYPE HTML>
<html>
<head><title>
	欧式尊贵经典条钉刻度真皮腕表
</title><link href="__PUBLIC__/index/zichuang/css/comtopandbottom.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/index/zichuang/css/singleactive.css" type="text/css" rel="stylesheet">
<script src="__PUBLIC__/index/zichuang/js/jquery.min.js"></script>
<script src="__PUBLIC__/index/zichuang/js/home-jquery.lazyload.js"></script>
<script src="__PUBLIC__/index/zichuang/js/singleactive.js"></script>
<style>
.timeWrap{display:none;}
</style>
<style>
a:visited{color:white;}
a:active{color:white;}
.nav-list{
	width: 100%;
	max-width: 640px;
	margin: auto;
	position: fixed;
	bottom: 0;
	overflow: hidden;
}
.nav-list>li{
	float: left;
	width: 25%!important;
	height: 46px;
	line-height: 46px;
	text-align: center;
	background-color: #c60b1e;
	border-left: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.nav-list>li:first-child{
	border: none;
}
.nav-list>li a{color:white;white-space: nowrap;font-size:13px;}
.nav-list>li>a>span{vertical-align:middle!important;margin-top:7px!important;}
.icon1,.icon2,.icon3,.icon4{
	display: inline-block;
	width: 22px!important;
	height: 30px!important;			
	background-size: cover;
	background-position: -5px -3px;
	vertical-align: middle;
}
.icon1{background-image: url('__PUBLIC__/index/zichuang/images/cart2.png')}
.icon3{background-image: url('__PUBLIC__/index/zichuang/images/636153447983132658.png')}
.icon2{background-image: url('__PUBLIC__/index/zichuang/images/call.png')}
.icon4{background-image: url('__PUBLIC__/index/zichuang/images/636162010214686741.png')}
#toTop{
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: url("__PUBLIC__/index/zichuang/images/up_arrow.png") no-repeat 12px 10px;
    background-size: 16px;
    background-color: rgba(57,66,74,.6);
    border-radius: 23px;
    z-index: 999;
    overflow: hidden;
    display: none;
}
.main,.infor-list{overflow:hidden;}
.main img,.infor-list img{float:left;}
.percentBar>span{vertical-align:top;}
.bList li a img{float:left;}
.bInfor p{color:#222;}
</style>
<link href="__PUBLIC__/index/zichuang/css/comtopandbottom.css" type="text/css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body >
<form name="Form1" method="post" action="" id="Form1">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTE1MjI0MTQyM2Rk3fg+woq96xDLPIa+W3bLJJyeqBg=" />

<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="9AA6CB1C" /><input type= "hidden" name= "__EVENTTARGET" value= ""> 
<input type= "hidden" name= "__EVENTARGUMENT" value= ""> 

<div class="wap"><!--总wap开始--> 
<input type= "hidden" name ="cartInfo" value ="0,0">
<input type= "hidden" name ="enterType" value ="1">
<input type= "hidden" name ="isReg" value ="0">
<div>
	<input type="hidden" name="endTime" value="2017/12/15 23:59:59">
<!--单款多色-->
<input type="hidden" name="typeS" value="s1">
<input type="hidden" name="ptitle" value="欧式尊贵经典条钉刻度真皮腕表">
<input type="hidden" name="pid" value="9446">
<div class="main">
	<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single66/635965904009085714.jpg" title="" alt="" />
        <img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="__PUBLIC__/index/zichuang/images/635965904097420766.jpg" title="" alt="" />
 <img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single66/635965904193936287.jpg" title="" alt="" />
</div>
<div class="inforContent">
    <div class="i-p-top">
        <span class="acticePrice"><span>￥</span>268</span>
        <span class="oldPrice">原价:<span>￥2680</span></span>
        <span class="flag">特价</span>
        <span class="flag">促销</span>
    </div>
    <div class="i-p-m">
        <span class="flag1">限时抢购</span>
        <span class="timeWrap">距结束
                <span id="h">00</span>
                <span class="colon">时</span>
                <span id="m">00</span>
                <span class="colon">分</span>
                <span id="s">00</span>
                <span class="colon">秒</span>
                <span id="ms">0</span>
        </span>
    </div>
    <div id="here"></div>
    <div class="i-p-b">
    	<span class="soldPart">已抢购<span id="soldNum">****</span>件</span> 
        <span class="percentBar">
        	<span id="progress"></span>
        </span>
        <span id="percentNum"></span>
    </div>
   
</div>

<input type="hidden" name="productInfor" title="欧式尊贵经典条钉刻度真皮腕表" value="9446" price="268" oldPrice="2680">  
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/zichuang/css/derectway1.css"> 
	<div class="buyBlock" id="buyBlock"> 
		<div class="buy-Title">款式选择</div> 
		<input type=  "hidden" name = "childIDTotalNum" value = "1"> 
		<div class="childList"> 
		    <input type=  "hidden" name = "childID00" value = "9446"> 
		    <div class="styTit">颜色</div> 
  		  <div class="groupchoice"> 
  		      <label class= "tSelect" ><input type= "radio" name= "radiogroup_00_01" value= "1" checked = "true" >金色黑带</label> 
  		      <label class=  ><input type= "radio" name= "radiogroup_00_01" value= "2"  >银色黑带</label> 
 		   </div> 
		</div> 
	<input type="hidden" name="opost" value="2" /> 
 		<!-- 购买按钮 --> 
		<div class="buyNow"> 
		     <p onclick="javascript:document.Form1.submit();">立即购买</p>   
		</div> 
	<script type="text/javascript" src="__PUBLIC__/index/zichuang/js/derectway.js"></script>	</div>

<div class="gap"></div>
<div class="bTop"><span class="bTitle bTitle1">图文详情</span><div class="line"></div></div>
<div class="infor-list">
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962643561562414.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962643796755867.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962644029149159.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962644269152886.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962644549658930.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962645821201658.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962646019292989.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962646207453751.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962646519161579.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962647506168033.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962648059519683.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962648277702162.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962648705296619.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962648942280174.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962649391525869.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962649588507136.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962649795949001.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962649962218511.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962650129328069.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962650364531522.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962652252899530.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962652582488382.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962652863874476.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962653071286340.jpg" title="" alt="" />
<img src="__PUBLIC__/index/zichuang/picture/background.png" data-original="http://pic2.zomvip.com/Content/pic/10000000/single58/635962653468009031.jpg" title="" alt="" />
</div>
<!--评论部分-->
<div style="position: relative;">
<div id="pl-part">
<div class="pl-top">商品最新评价</div> 
<div id="demo"> 
	<div id="demo1"> 
		<ul id="express"> 
			<li>
				<div class="pl-name">134****7300 刘先生  <span>满意度：</span>★★★★★</div>
				<div class="pl-content">表盘很漂亮 外观漂亮 指针很准！</div>
			</li>
			<li>
				<div class="pl-name">159****1280 蔡先生  <span>满意度：</span>★★★★★</div>
				<div class="pl-content">手表质量很好，戴起来很大方，颜色款式也很喜欢！赞</div>
			</li>
			<li>
				<div class="pl-name">134****4875 梁先生  <span>满意度：</span>★★★★☆</div>
				<div class="pl-content">挺不错的一款手表 戴上很有分量 整体感觉很好 喜欢！</div>
			</li>
			<li>
				<div class="pl-name">189****1825 吴先生  <span>满意度：</span>★★★★☆</div>
				<div class="pl-content">这款表很漂亮，包装精致，很适合！</div>
			</li>
			<li>
				<div class="pl-name">159****4875 陈先生  <span>满意度：</span>★★★★★</div>
				<div class="pl-content">感觉很不错，耀眼，挺有派头的</div>
			</li> 
			<li>
				<div class="pl-name">138****2649 丁先生  <span>满意度：</span>★★★★☆</div>
				<div class="pl-content">今天收到，感觉还不错，用段时间再作评论</div>
			</li>
			<li>
				<div class="pl-name">135****7183 梨先生  <span>满意度：</span>★★★★★</div>
				<div class="pl-content">手表收到了，质量很好款式新颖走时准确，满意</div>
			</li>
			<li>
				<div class="pl-name">134****9408 王先生  <span>满意度：</span>★★★★★</div>
				<div class="pl-content">宝贝真心给力阿！手表 性价比太高了 和专柜一样的 朋友都说很有范 真是物超所值</div>
			</li>
			<li>
				<div class="pl-name">159****8300 贝先生  <span>满意度：</span>★★★★☆</div>
				<div class="pl-content">带着很舒服，老婆送的生日礼物，超级喜欢！支持！</div>
			</li>
			<li>
				<div class="pl-name">137****4591 文先生  <span>满意度：</span>★★★★★</div>
				<div class="pl-content">终于抢到了，用着超级正酣，哈哈，很好很强大！</div>
			</li>
			<li>
				<div class="pl-name">134****7300 刘先生  <span>满意度：</span>★★★★★</div>
				<div class="pl-content">表盘很漂亮 外观漂亮 指针很准！</div>
			</li>
			<li>
				<div class="pl-name">159****1280 蔡先生  <span>满意度：</span>★★★★★</div>
				<div class="pl-content">手表质量很好，戴起来很大方，颜色款式也很喜欢！赞</div>
			</li>
			<li>
				<div class="pl-name">134****4875 梁先生  <span>满意度：</span>★★★★☆</div>
				<div class="pl-content">挺不错的一款手表 戴上很有分量 整体感觉很好 喜欢！</div>
			</li>
			<li>
				<div class="pl-name">189****1825 吴先生  <span>满意度：</span>★★★★☆</div>
				<div class="pl-content">这款表很漂亮，包装精致，很适合！</div>
			</li>
			<li>
				<div class="pl-name">159****4875 陈先生  <span>满意度：</span>★★★★★</div>
				<div class="pl-content">感觉很不错，耀眼，挺有派头的</div>
			</li> 
			<li>
				<div class="pl-name">138****2649 丁先生  <span>满意度：</span>★★★★☆</div>
				<div class="pl-content">今天收到，感觉还不错，用段时间再作评论</div>
			</li>
			<li>
				<div class="pl-name">135****7183 梨先生  <span>满意度：</span>★★★★★</div>
				<div class="pl-content">手表收到了，质量很好款式新颖走时准确，满意</div>
			</li>
			<li>
				<div class="pl-name">134****9408 王先生  <span>满意度：</span>★★★★★</div>
				<div class="pl-content">宝贝真心给力阿！手表 性价比太高了 和专柜一样的 朋友都说很有范 真是物超所值</div>
			</li>
			<li>
				<div class="pl-name">159****8300 贝先生  <span>满意度：</span>★★★★☆</div>
				<div class="pl-content">带着很舒服，老婆送的生日礼物，超级喜欢！支持！</div>
			</li>
			<li>
				<div class="pl-name">137****4591 文先生  <span>满意度：</span>★★★★★</div>
				<div class="pl-content">终于抢到了，用着超级正酣，哈哈，很好很强大！</div>
			</li>
		</ul>
	</div>
	<div id="demo2"></div> 
</div> 
</div> 
</div>
<script type="text/javascript"> 
	var demo=document.getElementById("demo"); 
	var demo1=document.getElementById("demo1"); 
	var demo2=document.getElementById("demo2"); 
	var speed=40;//设置向上轮动的速度 
	demo2.innerHTML=demo1.innerHTML;//复制节点 
	function moveTop(){ 
	if (demo.scrollTop >= demo2.offsetTop) {
        demo.scrollTop-=demo1.offsetHeight;
    }else{
        demo.scrollTop+=1;
    }
	} 
	var myFunction=setInterval("moveTop()",speed); 
</script>


<!--活动推荐-->
<div class="active-best">

</div>
<div class="gap-bottom"></div>
<a href="javascript:scroll(0,0)" id="toTop"></a>
<div class="activeBottom" style="padding:8px 0;text-align:center;background:#eee;font-size: 14px;color: #999;">
		<p>正品保证，货到付款</p>
		<p>服务时间:09:00 - 21:30</p>
	</div>

	<div style="margin-bottom:80px;padding:10px 20px 10px 20px; border-top:1px solid #eee;" class="bMSG">
		<img src="__PUBLIC__/index/zichuang/picture/635991066280577022.jpg" width="100%">
	</div>
	<!--固定部分-->
	<div class="fixednav" style="background:#c60b1e">
		<ul class="nav-list">
			<li id="buyBtn">
				<a href="./watch_chang_1.html" class="conbtn" id=""><span class="icon1"></span><span>立即购买</span>
				</a>
			</li>
			<li>               
				<a id="" href="#"><span class="icon3"></span><span>QQ咨询</span>
				</a>
			</li>
			<li>
				<a href="#"><span class="icon2"></span><span>电话订购</span>
				</a>
			</li>
			<li>
				<a href="#"><span class="icon4"></span><span>返回首页</span></a>
			</li>
		</ul>
	</div>
<script>
//回到顶部
    toTop();
    function toTop(){
        //鼠标滚动事件
        var btn = document.getElementById("toTop");
        //滚动条滚动时触发
        window.onscroll = function() {
            var osTop = document.documentElement.scrollTop || document.body.scrollTop;
            if (osTop >= 1400) {
                btn.style.display = "block";
            } else {
                btn.style.display = "none";
            }
        }
    }
var submitFlag=true;
	var subTimer;
$('#buyBtn').bind('click',fnSubmit);
function fnSubmit(){
                if (submitFlag) {
        		submitFlag = false;
        		document.Form1.submit();
        	} else {
        		if(subTimer){
        			clearTimeout(subTimer);
        		}
        		subTimer=setTimeout(function() {
        			submitFlag = true;
        		},
        		5000);
        	}
}



    var types = $('.groupchoice');
    for (var i = 0; i < types.length; i++) {
        types.eq(i).children('label').click(function(event) {
            $(this).removeClass('tSelect').addClass('tSelect');
            $(this).siblings('label').removeClass('tSelect');
        });
    }
</script><br/>

</div></div><!--总wap结束--> 
</form>
</body>
</html>
