<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
</head>
<body>
    <!-- 搜索区域 -->
    <form action="{:url('kuai/index')}" class="layui-form layui-form-pane" method="get">
        <div class="public goods-sou">
            <div class="layui-form-item publi-left">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" value="{:input('username')}" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <button class="layui-btn publi-left" lay-submit="" lay-filter="demo1">搜索</button>
        </div>
    </form>

    <!-- 操作区域 -->
    
    <div class="public caozuo">
        <button class="layui-btn layui-btn-sm public-right add">添加</button>
    </div>

   <!-- 内容区域  -->
   <table class="layui-table">
        <colgroup>
          <col width="80">
          <col width="">
          <col width="200">
          <col width="200">
          <col width="150">
        </colgroup>
        <thead>
          <tr>
            <th>ID</th>
            <th>名称</th>
            <th>添加时间</th>
            <th>修改时间</th>
            <th>操作</th>
          </tr> 
        </thead>
        <tbody>
            {volist name="list" id="vo"}
            <tr>
                <td>{$vo['id']}</td>
                <td>{$vo['username']}</td>
                <td>{$vo['create_time']}</td>
                <td>{$vo['update_time']}</td>
                <td>
                    <button class="layui-btn layui-btn-xs save" layui-id="{:arr_jia($vo['id'])}">修改</button>
                    <button href="{:url('kuai/delete_bak')}" class="layui-btn layui-btn-xs layui-btn-danger public-del"  layui-id="{:arr_jia($vo['id'])}">删除</button>
                </td>
            </tr>
            {/volist}
        </tbody>
    </table>

    <!-- 分页 -->
    {$page}

    <script>
        (function(){
            // 添加
            $('.add').click(function(){
                page_add('50%','30%','添加','/admin/kuai/add.html');
            });
            // 修改
            $('.save').click(function(){
                $val = $(this).attr('layui-id');
                page_add('','','修改','/admin/kuai/save.html?id='+$val);
            });
            // 删除
            public_del();
        })();
    </script>
</body>
</html>