<!--
    技术员：吴坤盛
    创建时间：2018/8/7　17:16
-->
<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
</head>
<body>

<!--搜索区域-->
<div class="public public-ko">
    <form action="{:url('newest/sign')}" method="get" class="layui-form layui-form-pane">
        <div class="layui-form-item publi-left">
            <label class="layui-form-label">产品名</label>
            <div class="layui-input-inline">
                <input type="text" name="user" value="{:input('user')}" id="date" placeholder="输入产品名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <input class="layui-btn publi-left" value="搜索" type="submit"/>
    </form>
</div>

<!--内容-->
<table class="layui-table">
    <colgroup>
        <col width="80">
        <col width="">
        <col width="100">
        <col width="100">
        <col width="150">
        <col width="100">
        <col width="200">
        <col width="200">
        <col width="200">
    </colgroup>
    <thead>
    <tr>
        <th>序列</th>
        <th>产品名称</th>
        <th>款式</th>
        <th>金额</th>
        <th>订单状态</th>
        <th>是否有效</th>
        <th>添加时间</th>
        <th>修改时间</th>
        <th>操作</th>
    </tr>
    </thead>

    <tbody>
    {volist name="list" id="vo"}
    <tr>
        <td>{$key+1}</td>
        <td>{$vo['or_name']}</td>
        <td>{$vo['or_style']}</td>
        <td>{$vo['or_moeny']}</td>
        <td>{:goods_fahuo($vo['or_goods'])}</td>
        <td>{:goods_zhuan($vo['or_tive'])}</td>
        <td>{$vo['create_time']}</td>
        <td>{$vo['update_time']!='1970-01-01 08:00:00'?$vo['update_time']:''}</td>
        <td>
            <!--<a class="layui-btn-xs layui-btn">详情</a>-->
            <a class="layui-btn-xs layui-btn save" layui-id="{:arr_jia($vo['or_id'])}">修改</a>
            <a class="layui-btn-xs layui-btn yulan" href="/index/goods/{$vo['go_user']}.html">预览页面</a>
            <a  href="{:url('Newest/delete_newest')}" class="layui-btn-xs layui-btn layui-btn-danger public-del" layui-id="{:arr_jia($vo['or_id'])}">删除</a>
        </td>
    </tr>
    {/volist}
    </tbody>

</table>

<!--分页-->
{$page}
<button class="layui-btn layui-btn layui-btn-sm">当前数量: {:count($meny)}</button>
<button class="layui-btn layui-btn layui-btn-sm">当前金额: {:public_jie($meny,'or_moeny')} 元</button>

<script src="__PUBLIC__/admin/newest/index.js"></script>

</body>
</html>