<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
</head>
<body>

<!--搜索-->
<div class="public">
    <form action="{:url('admin/index')}" method="get" class="layui-form layui-form-pane">
        <div class="layui-form-item publi-left">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="user" value="{:input('user')}" id="test3" placeholder="请输入名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <input class="layui-btn publi-left" value="搜索" type="submit"/>
    </form>
</div>

<!--添加-->
<div class="public">
    <button class="layui-btn-sm layui-btn public-right add">添加</button>
</div>

<!--内容-->
<table class="layui-table">
    <colgroup>
        <col width="80">
        <col width="">
        <col width="200">
        <col width="200">
        <col width="200">
    </colgroup>
    <thead>
    <tr>
        <th>序列</th>
        <th>名称</th>
        <th>权限名称</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="ov"}
    <tr>
        <td>{$key+1}</td>
        <td>{$ov['ad_user']}</td>
        <td>{$ov['nameuser']}</td>
        <td>{$ov['create_time']}</td>
        <td>
            <button class="layui-btn layui-btn-xs save" layui-id="{:arr_jia($ov['ad_id'])}">修改</button>
            <button href="{:url('admin/delete_admin')}" class="layui-btn layui-btn-xs layui-btn-danger public-del"
                    layui-id="{:arr_jia($ov['ad_id'])}">删除
            </button>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>

<!--分页-->

<script src="__PUBLIC__/admin/admin/index.js"></script>


</body>
</html>