<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
    <link rel="stylesheet" href="__PUBLIC__/admin/css/header.css">
</head>
<body>

<!-- 左边 -->
<div class="layui-row">
    <div class="layui-col-md9">
        <div class="grid-demo grid-demo-bg1">



            <!-- 服务器信息 -->
            <div class="header-hical header-server">
                <div class="header-not">
                    <div class="header-not-title">服务器信息</div>
                    <div class="layui-row">
                        <div class="col-md-2">
                            <div class="col-md-3">服务器环境</div>
                            <div class="col-md-4">Apache/2.4.4 (Win32) PHP/5.4.16</div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-3">服务器IP地址</div>
                            <div class="col-md-4">127.0.0.1</div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-3">服务器域名</div>
                            <div class="col-md-4">localhost</div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-3">PHP版本</div>
                            <div class="col-md-4">5.4.16</div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-3">数据库信息</div>
                            <div class="col-md-4">5.6.12-log</div>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-3">服务器当前时间</div>
                            <div class="col-md-4">{:date('Y-m-d H:i:s',time())}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 右边 -->
    <div class="layui-col-md3">
        <div class="grid-demo">

            <!-- 系统操作记录 -->

            <!-- 联系技术员 -->
            <div class="recd">
                <div class="header-not-title">联系技术员</div>
                <p>QQ : 1275263021</p>
                <p>E-mail : 1275263021@qq.com</p>
            </div>
            <!-- 登陆员 -->
            <div class="denglu">
                欢迎管理员： <span style="color: red;">{:session('admin_user')}</span>
                <br />
                当前服务器时间： {:date('Y-m-d H:i:s',time())}
            </div>
        </div>
    </div>
</div>






</body>
</html>