<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="renderer" content="webkit">
<title>后台管理系统</title>
<script src="__PUBLIC__/admin/js/jquery.js"></script>
<script src="__PUBLIC__/admin/layui/layui.js"></script>
<script src="__PUBLIC__/admin/js/public.js"></script>
<link rel="stylesheet" href="__PUBLIC__/admin/layui/css/layui.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/public.css">
