<!--
    技术员：吴坤盛
    创建时间：2018/8/12　18:28
-->
<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
</head>
<body>

<!--搜索-->
<div class="public">
    <form class="layui-form-pane layui-form" method="get" action="{:url('index')}">
        <div class="layui-form-item publi-left">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="title"  placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <input type="submit" class="layui-btn publi-left" value="搜索" />
    </form>
</div>


<!--添加按钮-->
<div class="public">
    <button class="layui-btn layui-btn-xs add">添加</button>
</div>
<!--内容-->
<table class="layui-table">
    <colgroup>
        <col width="80">
        <col width="">
        <col width="200">
        <col width="200">
    </colgroup>
    <thead>
    <tr>
        <th>序列</th>
        <th>名称</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="ov"}
    <tr>
        <td>{$key+1}</td>
        <td>{$ov['name']}</td>
        <td>{$ov['create_time']}</td>
        <td>
            <a class="layui-btn-xs layui-btn save" layui-id="{:arr_jia($ov['id'])}">修改</a>
            <a class="layui-btn-xs layui-btn ziji" layui-id="{:arr_jia($ov['id'])}">查看子级</a>
            <a  href="{:url('quan/delete')}" class="layui-btn-xs layui-btn layui-btn-danger public-del" layui-id="{:arr_jia($ov['id'])}">删除</a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>


<!--分页-->
{$page}

<script>
    (function(){

    //    添加
        $('.add').click(function(){
            page_add('99%','70%','添加','/admin/quan/add.html');
        });

    //    修改
        $('.save').click(function(){
            $this = $(this).attr('layui-id');
            page_add('99%','70%','修改','/admin/quan/save.html?id='+$this);
        });

        //    查看子级
        $('.ziji').click(function(){
            $this = $(this).attr('layui-id');
            page_add('','','查看子级','/admin/quan/ziji.html?id='+$this);
        });
    //    删除
        public_del();

    })();
</script>

</body>
</html>