<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
</head>
<body>
    
        <!DOCTYPE html>
        <html lang="en">
        <head>
            {include file="public/header"}
            <style>
                .layui-textarea{
                    height: 400px;
                }
            </style>
        </head>
        <body>
        
            <form action="{:url('save')}" class="layui-form layui-form-pane" method="post">
        
                <div class="layui-form-item">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$val['go_user']}"  required lay-verify="required" name="go_user" placeholder="请输入名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
        
                <div class="layui-form-item">
                    <label class="layui-form-label">金额</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$val['go_money']}"  required lay-verify="required" name="go_money" placeholder="请输入名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <input type="text" value="{$val['go_bak']}" name="go_bak" placeholder="请输入名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <input type="hidden" name="go_id" value="{$val['go_id']}">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">代码区域</label>
                    <div class="layui-input-block">
                      <textarea name="desc" placeholder="请输入内容"  required lay-verify="required" class="layui-textarea">{$sl}</textarea>
                    </div>
                </div>
                <button class="layui-btn submit-btn" lay-submit lay-filter="formDemo">立即提交</button>
            </form>
            
        
            <script src="__PUBLIC__/admin/goods/add.js"></script>
        </body>
        </html>

</body>
</html>