<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}

</head>
<body>

    <form action="{:url('goods/subg_add')}" class="layui-form layui-form-pane" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="go_user" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" name="go_bak"  placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text" style="width:99.9%;">
            <label class="layui-form-label">代码区域</label>
            <div class="layui-input-block">
                <textarea name="desc" style="height:400px; " required lay-verify="required" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <input type="hidden" value="{:input('id')}" name="go_guan" />
        <button class="layui-btn submit-btn" lay-submit lay-filter="formDemo">立即提交</button>
    </form>

   <script src="__PUBLIC__/admin/goods/subg_add.js"></script>

</body>
</html>