<!--
    技术员：吴坤盛
    创建时间：2018/8/13　7:38
-->
<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"}
</head>
<body>

<!--添加-->
<div class="public">
    <button class="layui-btn layui-btn-xs add">添加</button>
</div>


<!--内容-->
<table class="layui-table">
    <colgroup>
        <col width="80">
        <col width="">
        <col width="200">
        <col width="200">
    </colgroup>
    <thead>
    <tr>
        <th>序列</th>
        <th>名称</th>
        <th>时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="ov"}
    <tr>
        <td>{$key+1}</td>
        <td>{$ov['nameuser']}</td>
        <td>{$ov['create_time']}</td>
        <td>
            <a class="layui-btn-xs layui-btn save" layui-id="{:arr_jia($ov['id'])}">修改</a>
            <a  href="{:url('quanuser/delete')}" class="layui-btn-xs layui-btn layui-btn-danger public-del" layui-id="{:arr_jia($ov['id'])}">删除</a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>


<!--js-->
<script>
    (function(){
    //    添加
        $('.add').click(function(){
            page_add('','','添加','/admin/quanuser/add.html');
        });

    //    修改
        $('.save').click(function(){
            $this = $(this).attr('layui-id');
            page_add('','','修改','/admin/quanuser/save.html?id='+$this);
        });

    //    删除
        public_del();
    })();
</script>

</body>
</html>